# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: integers: 10, -97, 0804
float: 0.2, -21.02

Strings: 'Hello World'
"Hello World"
Every characters have a index 
z.B. 
character: H e l l o 
index: 0 1 2 3 4
reverse index: 0 -4 -3 -2 -1

Lists: my_list = [1,2,3,4,5]
another_lsit = ['Arad',275,29.0]
my_list + another_list
len(my_list)
my_list(0)
my_list[1:]
my_list[0] = 'Hello'

Tuples: t = (1,2,3)
t = ('a','a','a')
t.count('a')

Dictionaries: my_dict = {'apple':2.99, 'key2':'value2','key3':[1,2,3]}
my_dict['apple']

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [85]:
(60 + (10 ** 2) / 4 * 7) - 134.75

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [86]:
4 * (6 + 5)

44

In [88]:
4 * 6 + 5

29

In [89]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [10]:
type(3 + 1.5 + 4)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [90]:
# Square root:
100 ** 0.5

10.0

In [91]:
# Square:
10 ** 2

100

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [11]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [16]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [17]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4:]

'o'

In [18]:
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [92]:
# Method 1:
mylist = [0,0,0]
mylist

[0, 0, 0]

In [93]:
# Method 2:
[0]*3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [44]:
list3 = [1,2,[3,4,'hello']]

list3[-1] = [3,4,'goodbye']
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [49]:
list4 = [5,3,4,6,1]
list4.sort()

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [51]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [53]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [98]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [100]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>
no because dictionary are mappings not a sequence

## Tuples

What is the major difference between tuples and lists?<br><br>
tuples are immutable

How do you create a tuple?<br><br> t = (1,2,3,4)

## Sets

What is unique about a set?<br><br>They don't allow for duplicate items

Use a set to find the unique values of the list below:

In [77]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [78]:
# Answer before running cell
2 > 3

False

In [79]:
# Answer before running cell
3 <= 2

False

In [80]:
# Answer before running cell
3 == 2.0

False

In [81]:
# Answer before running cell
3.0 == 3

True

In [82]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [83]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!